node_modules
build
dist
.cache
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

config
public
script
test
.eslintignore
.eslintrc.json
.gitignore
.prettierrc
babel.config.json
tsconfig.json
yarn.lock
*.todo